name: Checks

on:
  push:
    branches: [master]
  pull_request:
    types: [synchronize, opened, reopened]

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: ['14.21.1', '16.18.1', '18.16.0']
    container: cypress/base:${{ matrix.node_version }}
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Install examples dependencies
        run: npm run install-examples

      - name: Run examples (prepare tests)
        run: npm run test:prepare || true

      - name: Tests
        run: npm run test
